################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/meadow/Meadow.ProjectLab.Sample/WifiWeather/appsettings.local.json
